<! DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Advance React Js Applications</title>
</head>
<body>
  <div id="root">
    loading .....
  </div>
  <script src="/bundle.js" charset="utf-8"></script>
</body>
</html>
